$corPrincClaro: #ff78a0;
$corSecunClaro: #73ff45;
$corDetalClaro: #fff645;
$corFundoClaro: white;

$corPrincEscuro: white;
$corSecunEscuro: #d52424;
$corDetalEscuro: #1a1917;
$corFundoEscuro: black;

$borda1: "/img/border/borda-1.png";
$borda2: "/img/border/borda-2.png";
$borda3: "/img/border/borda-3.png";
$borda4: "/img/border/borda-4.png";
$borda5: "/img/border/borda-5.png";
$borda6: "/img/border/borda-6.png";
$borda7: "/img/border/borda-7.png";
$borda8: "/img/border/borda-8.png";
$borda9: "/img/border/borda-9.png";
$borda10: "/img/border/borda-10.png";
$borda11: "/img/border/borda-11.png";
$borda12: "/img/border/borda-12.png";
$borda13: "/img/border/borda-13.png";